<% provide(:title, @user.name) %>
<body class="logon-splash">
  <h1 class="header-msg">
    Welcome to JustPizza
    <%= @user.name %>!
  </h1>
  <div class="container-fluid col-md-6 col-md-offset-3" id="text-border-logon-splash">
    <div id="logon-splash">
      <p>
        Let's skip the talk and get right to business. We know you're probably hungry. Click the button below to check out all the delicious pizzas we have to offer.
      </p>
      <div id="logon-splash-btn">
        <%= link_to 'Check Out Our Pizzas', new_order_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</body>
