<% provide(:title, "Crusts") %>
<body class="show-crust-page">
  <h1 class="header-msg">Pizza Crust</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form-area added-crust-area">
      <p>
        <strong>Name:</strong>
        <%= @crust.name %>
      </p>

      <p>
        <strong>Enabled:</strong>
        <%= @crust.enabled %>
      </p>
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_crust_path(@crust), class: "btn btn-md btn-primary" %>
        <%= link_to 'Back', crusts_path, class: "btn btn-md btn-primary" %>
      </div>
    </div>
  </div>
</body>
