<body class="homepage">
  <% if not logged_in? %>
    <h1 class="homepage-msg">Welcome to our Pizza Site</h1>
  <% else %>
    <h1 class="homepage-msg">Welcome to JustPizza!!!</h1>
  <% end %>
  <div class="container-fluid">
  </div>
</body>
