<body class="homepage">
  <% if not logged_in? %>
  <h1 class="homepage-msg">Welcome to our Pizza Site</h1>
  <div class="container-fluid col-md-8 col-md-offset-2" id="home-text-box">
    <div id="home-inner-text-box">
      <p>
        A couple of years ago we started this humble little pizza website because we wanted truly better pizza with the best ingredients, pizza available to order at any time, and a simple site with less clutter, no ads, and Just Pizza.
      </p>
      <p>
        If you love pizza, we're pretty sure you're gonna love our pizza. So, if it's your first time visiting our site, click the Sign Up button below and let us make you a great pizza. If you're a JustPizza customer, you know what to do - JP
      </p>
      <div id="home-page-btns">
        <div class="btn-group" role="group">
          <%= link_to 'Sign Up', new_user_path, class: 'btn btn-lg btn-primary' %>
          <%= link_to 'Log In', login_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <h1 class="homepage-msg">Welcome to JustPizza!!!</h1>
  <div class="container-fluid col-md-6 col-md-offset-3" id="signon-splash-box">
    <div id="signon-inner-text-box">
      <p id="signon-msg">
        We assume you're hungry since you just logged in. Don't worry. We've got all kinds of special pizzas, and if you're feeling adventurous, try you're hand at making a custom pizza. Our topping and crust selection is pretty amazing. It kinda goes
        without saying that everything here is delcious. So.....
      </p>
      <%= link_to 'Order Up A Pizza!', new_order_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <% end %>
</body>
