// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.number_field {
  width: 50px;
}

.pizza-info {
  margin-top: 0px;
}

.quantity {
  margin-top: 10px;
}

div.nested-fields, .total-order-field, .past-order {
  border-radius: 25px;
  border: 2px solid;
  border-color: #0044cc #0044cc #002a80;
  background-color: white;
  margin-bottom: 20px;
}

body.order-page, body.order-history-page {
  background: url("table-cloth.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#delete_btn {
  margin-bottom: 15px;
}

form {
  padding-bottom: 5%;
}

.pizza-icon {
  margin-bottom: 10px;
  margin-top: 10px;
}

img.pizza-icon {
  height: 203px;
  width: 175px;
}
