// Place all the styles related to the Specials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cost {
  width: 60px;
}

.special-page {
  background: url("table-cloth.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.new-special-page, .edit-special-page, .show-special-page {
  background: url("background-for-specials.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.special-table-background {
  background-color: white;
  border-radius: 25px;
  border: 2px solid;
  border-color: #0044cc #0044cc #002a80;
}

.new-special-btn {
  margin-bottom: 25px;
}

.special-table {
  margin-top: 30px;
  text-align: center;
}

.show-special-area {
  text-align: center;
}

.edit-special-area, .new-special-area {
  background-color: white;
  padding: 30px;
  border-radius: 25px;
}
