// Place all the styles related to the Toppings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  margin-top: 10px;
}

.topping-page {
  background-image: url("table-cloth.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.new-topping-page, .edit-topping-page, .show-topping-page {
  background-image: url("background-for-toppings.jpg");
  background-size: auto;
}

.topping-table-background {
  background-color: white;
  border-radius: 25px;
  border: 2px solid;
  border-color: #0044cc #0044cc #002a80;
}

.new-topping-btn {
  margin-bottom: 25px;
}

.topping-table {
  margin-top: 30px;
  text-align: center;
}

.show-topping-area {
  text-align: center;
}

.added-topping-area {
  text-align: center;
}
