// Place all the styles related to the Toppings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  margin-top: 10px;
}

.topping-page {
  background: url("table-cloth.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 5%;
}

.new-topping-page, .edit-topping-page, .show-topping-page {
  background: url("background-for-toppings.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topping-table-background {
  background-color: white;
  border-radius: 25px;
  border: 1px solid;
  border-color: #0044cc #0044cc #002a80;
}

.new-topping-btn {
  margin-bottom: 25px;
}

.topping-table {
  margin-top: 30px;
  text-align: center;
}

.show-topping-area {
  text-align: center;
}

.added-topping-area {
  text-align: center;
}
