<footer class="footer navbar-fixed-bottom navbar-default">
  <small>
    <a class="page-footer" href="https://github.com/dillondrobena/JustPizza">JustPizza</a>
    by
    <a class="page-footer" href="http://www.dillondrobena.com">Dillon Drobena</a>,
    <a class="page-footer" href="https://github.com/SherMM">Ian Laurain</a>, Sean Wang
  </small>
</footer>
