<footer class="footer">
  <small>
    <a href="https://github.com/dillondrobena/JustPizza">JustPizza</a>
    by <a href="http://www.dillondrobena.com">Dillon Drobena</a>, Ian, Sean Wang
  </small>
</footer>